<div class="modal-header">
    <h3 class="modal-title">
        详情
        <a class="close pull-right" ng-click="cancel()">X</a>
    </h3>
</div>
<div class="modal-body">
    <form class="form-horizontal">
        <div class="form-group">
            <label class="col-sm-2 control-label">banner图片</label>
            <p class="form-control-static"><a href="{{user.photo}}" target="_blank">
                <img ng-src="{{user.photo}}" width="100" height="100"/>
            </a>
            </p>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">商品名</label>
            <p class="form-control-static">{{user.name}}</p>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">开始时间</label>
            <p class="form-control-static">{{user.endTime | date:'yyyy/MM/dd'}}</p>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">结束时间</label>
            <p class="form-control-static">{{user.endTime | date:'yyyy/MM/dd'}}</p>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">状态</label>
            <p ng-if="user.type == 0" class="form-control-static">待审核</p>
            <p ng-if="user.type == 1" class="form-control-static">已驳回</p>
            <p ng-if="user.type == 2" class="form-control-static">审核通过</p>
        </div>
    </form>
</div>
<div class="modal-footer" style="border-top: none;"></div>
