<div>
    <pre style="border-radius: 0;margin-bottom: 0;">商户管理</pre>
    <div class="row" style="margin: 20px;">
        <div class="col-xs-6">
            <input class="form-control input-sm" type="text" ng-keypress="vm.searchKeypress($event)" ng-model="vm.query"
                   placeholder="请输入关键词">
        </div>
        <div class="col-xs-2">
            <button class="btn btn-sm btn-danger btn-o" ng-click="vm.keywords=vm.query;vm.search(true)">搜索</button>
        </div>
    </div>

    <div class="row" style="margin: 20px;">
        <div class="col-xs-2">
            <div>预付金：</div>
            <select
                    class="form-control input-sm"
                    ng-model="vm.filters.sex"
                    ng-options="type.value as type.text for type in  vm.CONFIGS.sexType"
                    ng-change="vm.search(true)">
            </select>
        </div>
        <div class="col-xs-2">
            <div>保证金：</div>
            <select
                    class="form-control input-sm"
                    ng-model="vm.filters.type"
                    ng-options="type.value as type.text for type in  vm.CONFIGS.userType"
                    ng-change="vm.search(true)">
            </select>
        </div>
        <div class="col-xs-2">
            <div>审核状态：</div>
            <select
                    class="form-control input-sm"
                    ng-model="vm.filters.role"
                    ng-options="type.value as type.text for type in  vm.CONFIGS.roleType"
                    ng-change="vm.search(true)">
            </select>
        </div>
        <div class="col-xs-2">
            <div>入驻时间</div>
            <select
                    class="form-control input-sm"
                    ng-model="vm.filters.role"
                    ng-options="type.value as type.text for type in  vm.CONFIGS.roleType"
                    ng-change="vm.search(true)">
            </select>
        </div>
    </div>

    <div class="row" style="margin-left: 35px;">
        <div class="criteria">
            <label class="criterion btn-primary" ng-if="vm.keywords">
                关键词:{{vm.keywords}} <span class="close"
                                          ng-click="vm.keywords=null;vm.query='';vm.search(true)">&times;</span>
            </label>
            <label class="criterion btn-primary" ng-if="vm.filters.sex || vm.filters.sex == 0">
                预防金:{{vm.statusSexName(vm.filters.sex)}} <span class="close"
                                                              ng-click="vm.filters.sex=null;vm.search(true)">&times;</span>
            </label>
            <label class="criterion btn-primary" ng-if="vm.filters.type || vm.filters.type == 0">
                保证金:{{vm.statusTypeName(vm.filters.type)}} <span class="close"
                                                                  ng-click="vm.filters.type=null;vm.search(true)">&times;</span>
            </label>
            <label class="criterion btn-primary" ng-if="vm.filters.role || vm.filters.role == 0">
                审核状态:{{vm.statusRoleName(vm.filters.role)}} <span class="close"
                                                                  ng-click="vm.filters.role=null;vm.search(true)">&times;</span>
            </label>
            <label class="criterion btn-primary" ng-if="vm.filters.role || vm.filters.role == 0">
                入驻时间:{{vm.statusRoleName(vm.filters.role)}} <span class="close"
                                                                  ng-click="vm.filters.role=null;vm.search(true)">&times;</span>
            </label>
        </div>
    </div>

    <table class="table table-bordered">
        <tr>
            <td colspan="9" class="text-right">
                <button type="button" class="btn btn-primary" ng-click="add(dataList.length)">新增</button>
            </td>
        </tr>
        <tr>
            <th class="text-center"></th>
            <th class="text-center">商户名</th>
            <th class="text-center">关联用户</th>
            <th class="text-center">商户手机</th>
            <th class="text-center">保证金</th>
            <th class="text-center">预付金</th>
            <th class="text-center">审核时间</th>
            <th class="text-center">入驻时间</th>
            <th class="text-center">操作</th>
        </tr>
        <tr class="text-center" ng-repeat="list in dataList">
            <td>{{$index+1}}</td>
            <td>{{list.name}}</td>
            <td>{{list.sex === 0 ? '男' : '女'}}</td>
            <td>{{list.type === 0 ? '超级管理员' : list.type === 1 ? '普通用户' : list.type === 2 ? '商户' : '无法识别'}}</td>
            <td>{{list.role === 0 ? '超级管理员' : list.type === 1 ? '普通用户' : list.type === 2 ? '商户' : '无法识别'}}</td>
            <td>
                <button type="button" class="btn btn-info btn-sm" ng-click="find(list)">查看</button>

                <button type="button" class="btn btn-danger btn-sm" ng-click="edit(list.id, $index)">编辑</button>

                <button type="button" class="btn btn-danger btn-sm" ng-click="del(list.id, $index)">删除</button>
            </td>
        </tr>
        <tr class="text-center">
            <td colspan="9">
                <ul uib-pagination
                    boundary-links="true"
                    total-items="totalItems"
                    ng-model="currentPage"
                    class="pagination-sm"
                    max-size="maxSize"
                    ng-change="vm.search()"
                    previous-text="上一页"
                    next-text="下一页"
                    first-text="首页"
                    last-text="尾页"></ul>
            </td>
        </tr>
    </table>
</div>