<pre style="border-radius: 0;margin-bottom: 0;">修改密码</pre>
<div class="row col-md-6 col-md-offset-3" style="margin-top: 50px;">
    <form name="myForm" ng-submit="save(myForm)" novalidate>
        <div class="form-group">
            <label>当前密码</label>
            <input type="text" class="form-control" name="pwd" ng-model="vm.pwd" placeholder="当前密码" required>
            <div class="tips-error" ng-if="myForm.pwd.$error.required && myForm.$submitted==true">
                必填项
            </div>
        </div>

        <div class="form-group">
            <label>新密码</label>
            <input type="text" class="form-control" name="new_pwd" ng-model="vm.new_pwd" placeholder="新密码" required>
            <div class="tips-error" ng-if="myForm.new_pwd.$error.required && myForm.$submitted==true">
                必填项
            </div>
        </div>

        <div class="form-group">
            <label>重复新密码</label>
            <input type="text" class="form-control" name="re_new_pwd" ng-model="vm.re_new_pwd" placeholder="重复新密码"
                   required>
            <div class="tips-error" ng-if="myForm.re_new_pwd.$error.required && myForm.$submitted==true">
                必填项
            </div>
            <div class="tips-error" ng-if="(vm.new_pwd && vm.re_new_pwd) && (vm.new_pwd != vm.re_new_pwd)  && myForm.$submitted==true">
                两次输入的密码不一样
            </div>
        </div>

        <button type="submit" class="btn btn-default">保存</button>
    </form>
</div>
