<div class="modal-header">
    <h3 class="modal-title">
        {{title}}
        <a class="close pull-right" ng-click="$dismiss()">X</a>
    </h3>
</div>
<div class="modal-body">
    <form name="myForm" ng-submit="save(myForm)" novalidate>
        <div class="form-group">
            <label>类型名称</label>
            <input type="text" class="form-control" name="name" ng-model="vm.name" placeholder="类型名称">
        </div>

        <div class="form-group">
            <label>商品图片</label>
            <input ng-show="vm.icon == null" type="file" nv-file-select="onFileSelect($files)"
                   uploader="uploader"/>
            <div ng-show="vm.icon">
                <a ng-href="{{vm.icon}}" target="_blank">
                    <img ng-src="{{vm.icon}}" width="100" height="100"/>
                </a>
                <button style="float: none;" class="close"
                        type="button"
                        ng-click="vm.icon = null">
                    &times;
                </button>

            </div>

        </div>

        <div class="form-group" ng-if="uploader.queue.length > 0">
            <label>商品图片预览</label>
            <table class="table">
                <thead>
                <tr>
                    <th>文件名</th>
                    <th>图片</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="item in uploader.queue">
                    <td ng-bind="item.file.name"></td>
                    <td ng-thumb="{ file: item._file, height: 100, width:100 }"></td>
                    <td ng-show="vm.uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
                    <td>
                        <button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()">
                            <span class="glyphicon glyphicon-trash"></span>
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>

        </div>
        <button type="submit" class="btn btn-default">保存</button>
    </form>
</div>
<div class="modal-footer" style="border-top: none;"></div>
